.tenderDocuments{
    display : flex;
    flex-direction: row;
}
.tenderDocumentsDownload{
    margin-left: auto;
    margin-right: 50px;
    padding : 5px;
    background-color: #0c6980;
    color : white;
}
.tenderTable{
    margin-top :25px;
}
.tenderDelivery{
    
}